<h4>Genel Özet</h4>
{% for summary in summaries %}
    <p><b>{{ summary.fullName }}</b> (Geliştirici Zorluk Seviyesi: {{ summary.level }}) tüm görevlerini {{ (summary.totalDuration / 45)|round(0,'ceil') }} hafta sonra bitirecektir. || Toplam Saat dağılımı : {{ summary.totalDuration|round(4) }}'dir.</p>
{% endfor %}
<hr>
<hr>
<h4> Geliştiricilere Aktarılmış Görevler</h4>
{% for developer in developers %}
    <p>{{ developer.getFullName }}</p>
    <ul>
        {% for assigned in developer.getAssignedTasks() %}
            <li>{{ assigned.getTask().getTitle() }}</li>
        {% endfor %}
    </ul>
    <hr>
{% endfor %}